In [1]:
import numpy as np

In [2]:
import pandas as pd

# write a program to change the order of index of a given series

In [6]:
s1 = pd.Series([2,4,6,9])
s1.index=['s1','s2','s3','s4']
s1

s1    2
s2    4
s3    6
s4    9
dtype: int64

# write a python program to add,subtract,mutiple and divide two pandas

In [7]:
s1 = pd.Series([2,4,6,8,10])
s2 = pd.Series([1,3,5,7,9])
s = s1 + s2
print("Add two Series:")
print(s)
print("Subtract two Series:")
s = s1 - s2
print(s)
print("Multiply two Series:")
s = s1 * s2
print(s)
print("Divide Series1 by Series2:")
s = s1 / s2
print(s)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

# write a program to convert a panda module series to python list and its type

In [8]:
s = pd.Series([2,4,6,8,10])
print("Pandas Series and type")
print(s)
print(type(s))
print("Convert Pandas Series to Python list")
print(s.tolist())
print(type(s.tolist()))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

## write a pandas program to select the rows where the score is missing is NaN

In [11]:
exam_data = {'name':['Sachin','Ganguly','Kohili','Johnson','Taylor','Waugh','Yuvraj','Kambli','Srinath','Munaf'],
            'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
            'attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2,1],
            'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels = ['a','b','c','d','e','f','g','h','i','j']

df = pd.DataFrame(exam_data,index=labels)
print("Rows where score is missing:")
print(df[df['score'].isnull()])

Rows where score is missing:
      name  score  attempts qualify
d  Johnson    NaN         3      no
h   Kambli    NaN         1      no

# write a pandas program to create todays date

In [10]:
from datetime import date
now = pd.to_datetime(str(date.today()), format='%Y-%m-%d')
print("Today's date:")
print(now)

Today's date:
2019-12-24 00:00:00