In [1]:
import pandas as pd
brain = pd.read_csv('headbrain.csv')
brain.head()

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [2]:
brain.head()

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [3]:
x = brain['Head Size(cm^3)'].values
y = brain['Brain Weight(grams)'].values

In [4]:
x = x.reshape(237,1)

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 42)

In [7]:
train_test_split?

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
reg = LinearRegression()

In [10]:
trained = reg.fit(x_train,y_train)
print(trained)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [12]:
reg.predict([[4512]])

array([1514.66423463])

In [13]:
reg.score(x_test,y_test)

0.6993002108399291