In [ ]:
# python introduction
# hello world
### i'm from view

**bold**
*italic*

hihello

* line1
* line2
  * subline1
  * subline2 
     * sublines

<img src="screenshot.png">

In [4]:
print("hello world")

hello world

In [5]:
a=20

In [6]:
a

20

In [7]:
type(a)

int

In [8]:
b=2.5

In [9]:
type(b)

float

In [10]:
a=a+b

In [11]:
a

22.5

In [12]:
type(a)

float

In [13]:
a/b

9.0

In [14]:
s="abc"

In [15]:
s1='def'

In [16]:
s+s1

'abcdef'

In [17]:
s*3

'abcabcabc'

In [18]:
(s+s1)*3

'abcdefabcdefabcdef'

In [1]:
a=10

In [2]:
b=c=d=10

In [3]:
a

10

In [4]:
c

10

In [5]:
d

10

In [6]:
a,b,c=2,3,4

In [7]:
a,b,c

(2, 3, 4)

In [16]:
x=1
if x==1:
   print("hi")
   print("hello")
   if x==2:
     print("i'm")
     print("from")
     print("jupyter notebook")
else:
    print("x!=1")

hi
hello

In [10]:
a=10
b=20
if a>b:
   print("a is big")
else:
    print("b is big")

b is big

In [61]:
a=10
b=20
c=30
if a>b and a>c:
    print("a is big")
elif b>a and b>c:
    print("b is big")
else:
    print("c is big")

c is big

In [17]:
a=22.5

In [18]:
int(a)

22

In [19]:
float(a)

22.5

In [21]:
s='22'
int(s)

22

In [24]:
int('ff',16)

255

In [23]:
bin(22)

'0b10110'

In [25]:
hex(33)

'0x21'

In [26]:
oct(22)

'0o26'

## strings

In [30]:
s='python programming'

In [31]:
s[0]

'p'

In [32]:
s[0:]

'python programming'

In [33]:
s[1:5]

'ytho'

In [34]:
s[-1]

'g'

In [35]:
s[::-1]

'gnimmargorp nohtyp'

In [36]:
s[::2]

'pto rgamn'

In [37]:
s.lower()

'python programming'

In [38]:
s.upper()

'PYTHON PROGRAMMING'

In [40]:
s.swapcase()

'PYTHON PROGRAMMING'

In [47]:
a="     awnser     "

In [52]:
a.rstrip()

'     awnser'

In [53]:
a.lstrip()

'awnser     '

In [49]:
'python programming'.title()

'Python Programming'

In [51]:
s.title()

'Python Programming'

In [54]:
dir("str")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [62]:
s.count('p')

2

In [73]:
s1=s.replace('p','a')
print(s1)

aython arogramming

In [70]:
s.find('p')

-1

In [65]:
s[1:].find('p')

6

In [66]:
s.find('a')

12

In [71]:
s.isupper()

False

In [74]:
s.islower()

True

In [75]:
print(s1)

aython arogramming

In [76]:
roll='16nm1a0263'

In [77]:
roll.startswith('16')

True

In [78]:
roll.startswith('17')

False

In [88]:
email='vignans@gmail.com'

In [89]:
email.endswith('@gmail.com')

True

* write program to find given indian mobile number is valid or not
  '8143220231'

* startswith +91
* [3:] len==10
* [3:] is digit
* [3:] startswith 9,8,7,6

In [10]:
mobile="+918143220231"
if mobile.startswith('+91') and len(mobile[3:])==10 and mobile[3:].isdigit():
    if mobile[3:].startswith('9') or mobile[3:].startswith('8') or mobile[3:].startswith('7') or mobile[3:].startswith('6'):
        print("valid mobile number") 
    else:
        print("invalid mobile number")    
else:
    print("invalid mobile number")

valid mobile number

write a program to find given numbervis divisible by 2 or 5 and not divisible by 11
  - true
  - false

In [5]:
num=int(input())
if(num%2==0 or (num%5==0 and num%11!=0)):
    print(num,"is true")
else:
    print(num,"is false")

22
22 is true

* add two nos

In [11]:
a=10

In [12]:
b=20

In [13]:
c=a+b

In [14]:
print(c)

30

In [ ]:
a=int(input())
b=int(input())
c=a+b
print(c)

# write a program fibonic

In [2]:
n=int(input())
f=0
s=1
for i in range(n):
    print(f)
    temp=f
    f=s
    s=temp+s

13
0
1
1
2
3
5
8
13
21
34
55
89
144

# even and odd programs

In [1]:
list1=[10,3,5,2,7,6]
for i in list1:
    if i%2==0:
        print(i)

10
2
6

In [4]:
list1=[10,3,5,2,7,6]
for i in list1:
    if i%2!=0:
        print(i)

3
5
7

# even and odd program from a range

In [1]:
s=int(input())
e=int(input())
for i in range(s,e+1):
    if i%2!=0:
        print(i)

3
15
3
5
7
9
11
13
15

In [2]:
s=int(input())
e=int(input())
for i in range(s,e+1):
    if i%2==0:
        print(i)

3
15
4
6
8
10
12
14

In [6]:
list1=[10,2,3,5,8,90,4]
even_count,odd_count=0,0
for i in list1:
    if i%2==0:
        even_count+=1
    else:
        odd_count+=1
            
print(even_count)
print(odd_count)

5
2

# write a program to count positive and negitive no

In [10]:
list1=[10,-2,4,-5,8]
pos_count,neg_count=0,0
for i in list1:
    if i>=0:
        pos_count+=1
    else:
        neg_count+=1
print("positive numbers in the list:",pos_count)
print("negitive numbers in the list:",neg_count)

positive numbers in the list: 3
negitive numbers in the list: 2

In [12]:
list1=[10,-2,4,-5,8]
for i in list1:
    if i>0:
        print(i)

10
4
8

In [13]:
list1=[10,-2,4,-5,8]
for i in list1:
    if i<0:
        print(i)

-2
-5

In [1]:
ord('a')

97

In [2]:
ord('A')

65

In [3]:
chr(65)

'A'

In [4]:
chr(97)

'a'

In [5]:
type(range(1,100))

range

In [6]:
'5' not in '55'

False

In [9]:
str='8555994761'
if str[0] in ['9','8','7','6']:
    print(True)
else:
    print(False)

True

* loops

In [13]:
for i in range(1,10,1):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9

In [14]:
for i in range(1,10,1):
    if i%2==0:
        print(i)

2
4
6
8

In [15]:
# odd number
for i in range(1,10,2):
    print(i,end=' ')

1 3 5 7 9

In [17]:
for i in range(1,10,1):
    print(i*3,end=' ')

3 6 9 12 15 18 21 24 27

In [19]:
for i in range(4,40,4):
    print(i,end=' ')

4 8 12 16 20 24 28 32 36

In [20]:
s="python programming"

In [22]:
for i in s:
    print(i,end=' ')

p y t h o n   p r o g r a m m i n g

# while loop

In [26]:
i=0
while i<10:
    print(i,end=' ')
    i+=1

0 1 2 3 4 5 6 7 8 9

In [5]:
for i in range(15):
    if i == 16:
        break
    else:
            print(i)
else:
    print("16 is not in range of 15")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
16 is not in range of 15

- write a program to calculate sum of N numbers
- writr a program to calculate average of numbers in a range
- write a program to find the avg of cubes of the numbers in range 1 to 100

In [27]:
2**3

8

In [30]:
n=int(input())
sum=0
for i in range(0,n+1):
    sum+=i
print(sum)

5
15

In [33]:
n=int(input())
sum=0;i=0
while i<n+1:
    sum+=i
    i+=1
print(sum)

10
55

In [41]:
l1=int(input())
u1=int(input())
s=0;c=0
for i in range(l1,u1+1):
    s=s+i
    c=c+1
print("average between",l1,'and',u1,'is',s/c)

10
20
average between 10 and 20 is 15.0

#  write a program to find the  average of cubes of the numbers in range 1 to 10

In [42]:
l1=int(input())
u1=int(input())
s=0;c=0
for i in range(l1,u1+1):
    s=s+i**3

SyntaxError: unexpected EOF while parsing (<ipython-input-42-44eeb469b976>, line 4)

# amstrong or not amstrong

In [43]:
n=int(input())
t=n
s=0
for i in range(0,n):
    x=n%10
    s+=x**3
    n=n//10
    if n==0:
        break
if s==t:
    print(t,"is amstrong")
else:
    print(t,"is not amstrong")

151
151 is not amstrong

# check the given number is strong number or not
  *input:145
  *output:strong number/not

# write a program to calculate to factroial of the given number

In [51]:
N=int(input())
fact=1;i=1
while i<N+1:
    fact*=i
    i+=1
print(fact)

4
24

# lists

In [1]:
list = ["navya","shubu","deepu"]
print(list)

['navya', 'shubu', 'deepu']

In [2]:
list = []
print("intial blank list:")
print(list)

intial blank list:
[]

In [3]:
list = ['how are you']
print("\n list with use of string:")
print(list)

 list with use of string:
['how are you']

In [5]:
list =["geeks","for","geeks"]
print("\n list containing muliple values:")
print(list[0])
print(list[1])

 list containing muliple values:
geeks
for

In [6]:
list = [1,2,3,3,3,4,6,7]
print("\n list with use of numbers:")
print(list)

 list with use of numbers:
[1, 2, 3, 3, 3, 4, 6, 7]

In [9]:
list.append(1)
list.append(2)
list.append(4)
print("\n list after addition of three elements:")
print(list)

 list after addition of three elements:
[1, 2, 3, 3, 3, 4, 6, 7, 1, 2, 4, 1, 2, 4]

In [10]:
list1 = [1,2,3,4,5,6]
print("intial list1:")
print(list1)

intial list1:
[1, 2, 3, 4, 5, 6]

In [11]:
list1.remove(5)
list1.remove(6)
print("\n list1 after removal of two elements:")
print(list1)

 list1 after removal of two elements:
[1, 2, 3, 4]

In [13]:
list1.pop()
print("\n list1 after popping an element:")
print(list1)

 list1 after popping an element:
[1, 2, 3]

In [14]:
list1.pop(2)
print("\n list after popping a specific element: ")
print(list1)

 list after popping a specific element:
[1, 2]

# write a program to create a list in a given range
 * 5
 * 10

In [16]:
l1=int(input())
u1=int(input())
li=[]
for i in range(l1,u1+1,1):
    li.append(i)
li

1
10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
list1 = [1,2,3,4,5,6]
for num in list1:
    if num%2==0:
        print(num,end = " ")

2 4 6

In [22]:
list1 = [1,2,3,4,5,6]
even_count,odd_count =0,0
for num in list1:
    if num%2==0:
        even_count+=1
else:
        odd_count+=1
print("even numbers from a list1:",even_count)
print("odd numbers from a list1:",odd_count)

even numbers from a list1: 3
odd numbers from a list1: 1

In [23]:

l1 = int(input("enter the l1:"))
u1 = int(input("enter the u1:"))
for i in range(l1,u1+1):
    if(i%2==0):
        print(i)

enter the l1:1
enter the u1:10
2
4
6
8
10

In [26]:
li=[]
l1=int(input())
u1=int(input())
for i in range (l1,u1+1,1):
    if i%2==0:
        li.append(i)
for i in range(l1,u1+1):
    if i%2!=0:
        li.append(i)
        
print(li)

2
10
[2, 4, 6, 8, 10, 3, 5, 7, 9]

In [34]:
even_li=[2,4,6,8,10,3,5,7,9]

In [35]:
s=0
for i in even_li:
    s+=i
s

54

# tuple

In [1]:
t=()
t1=tuple()

In [2]:
type(t),type(t1)

(tuple, tuple)

In [3]:
li=['python']

In [4]:
li[0][0]

'p'

In [6]:
for interable in range:
for interable in li

IndentationError: expected an indented block (<ipython-input-6-b118c41e975c>, line 2)

In [7]:
num=[]
for i in range(0,51,1):
    num.append(i)
num

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [8]:
len(num)

51

In [9]:
even=[];odd=[]
for i in num:
    if i%2==0:
        even.append(i)
else:
         odd.append(i)
even

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [10]:
s=0
for i in even:
    s=s+i
s

650

In [11]:
s=0;c=0
for i in even:
    s=s+i
    c=c+1
s/c

25.0

In [12]:
high=0
low=100
for mark in even:
    if mark<low:
        low=mark
    if mark>high:
        high=mark
high,low

(50, 0)

In [13]:
sum(even),max(even),min(even)

(650, 50, 0)

In [14]:
high=0
low=50
even.remove(low)
even.remove(high)
for mark in even:
    if mark<low:
        low=mark
    if mark>high:
        high=mark
high,low

(48, 2)

In [15]:
even.sort()

In [17]:
even[0],even[-1]

(2, 48)

In [18]:
even[0],even[+1]

(2, 4)

# write a python program to count and separate the strings with lenght is 2 or more
* sample list:['abc','xyz','aba','1221','a','ab','asdf','2']
* output: ['abc','xyz','aba','1221','ab','asdf']

In [19]:
li=['abc','xyz','abc','1221','a','ab','asd','2']
nli=[]
for ele in li:
    if len(ele)>=2:
        nli.append(ele)
nli

['abc', 'xyz', 'abc', '1221', 'ab', 'asd']

In [20]:
li=['abc','xyz','abc','1221','a','ab','asd','2']
nli=[]
for ele in li:
    if len(ele)<=2:
        nli.append(ele)
nli

['a', 'ab', '2']

In [22]:
li=['abc','xyz','abc','1221','a','ab','asd','2']
nli=[]
for ele in li:
    if ele[0]==ele[-1]:
        nli.append(ele)
nli

['1221', 'a', '2']

In [23]:
s='abcdefghiklskjgj'
list(s)

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'k',
 'l',
 's',
 'k',
 'j',
 'g',
 'j']

In [24]:
s1='python programming'
s1.split()

['python', 'programming']

In [25]:
s1='python-programming'
s1.split('-')

['python', 'programming']

In [26]:
s1='apssdc@gmail.com'
s1.split('@')[0]

'apssdc'

In [27]:
s1='apssdc@gmail.com'
li=[]
li.append(s1.split('@')[0])
li

['apssdc']

In [28]:
tup = 'python','programming'
print(tup)

('python', 'programming')

In [29]:
tuple1 = [0,1,2,3]
tuple2 = ['python','programming']
print(tuple1+tuple2)

[0, 1, 2, 3, 'python', 'programming']

In [30]:
tuple2 =('python','programming')*3
print(tuple2)

('python', 'programming', 'python', 'programming', 'python', 'programming')

In [1]:
s1 = "python A 70 ECE"
s2 = "programming,A,75,EEE"
s3 = "V}ignans A 88 Mech"
s4 = "college A 85 IT"

In [2]:
s4.split()[0].isalpha()

True

In [7]:
s3=s3.split("  ")

NameError: name 's3' is not defined

In [5]:
temp = s3[1]
s3[1]=s3[-1]
s3[-1]=temp

NameError: name 's3' is not defined

In [6]:
s3

NameError: name 's3' is not defined

write a program to convert a list os strings into a sorted 
- sample list: ['cab','rfs','vde','trs','852','qw3db','qcbh42fnj']
- expected list: ['abc','frs','dev','rst','3bdqw','24bcfhijq']

In [1]:
nli=[]
for i in ['cab','rfs','vde','trs','852','qw3db','qcbh42fnj']:
    a=list(i)
    a.sort()
    a=''.join(a)
    nli.append(a)
nli

['abc', 'frs', 'dev', 'rst', '258', '3bdqw', '24bcfhjnq']

- li=['python','programming','vignans','engineering','college']
- nli=['yphton','rpgoarmming','ivngnas','negienrenig','ocllgee']

write a program to create a list contains N range of roll numbers of your branch
- input: 10
- expected output: [16NM1A0201, .,.,.,.,.,.,., 16NM1A0210]

In [14]:
n=int(input())
roll="16NM1A0"
branch=input()
rollnum=[]
for num in range(1,n+1,1):
     if branch=='EEE':
        if num<=9:
            rollnum.append(s)
        else:
            s=roll+str(2)+str(num)
            rollnum.append(s)
            elif branch=='mech':
        if num<=9:
            rollnum.append(s)
        else:
            s=roll+str(3)+str(num)
            rollnum.append(S)
rollnum

IndentationError: expected an indented block (<ipython-input-14-60aba7b22698>, line 7)

# functions

In [22]:
roll1='16NM1A'
def roll(n,code):
    rollnum=[]
    for i in range(1,n+1,1):
        if i<=9:
            num=roll1+code+'0'+str(i)
        else:
            num=roll1+code+str(i)
        rollnum.append(num)
    print(rollnum)
n=int(input())
branch=input()
if branch=='EEE':
    roll(n,'02')
elif branch=='ECE':
    roll(n,'04')
elif branch=='Mech':
    roll(n,'03')
elif branch=='CSE': 
    roll(n,'05')

22
EEE
['16NM1A0201', '16NM1A0202', '16NM1A0203', '16NM1A0204', '16NM1A0205', '16NM1A0206', '16NM1A0207', '16NM1A0208', '16NM1A0209', '16NM1A0210', '16NM1A0211', '16NM1A0212', '16NM1A0213', '16NM1A0214', '16NM1A0215', '16NM1A0216', '16NM1A0217', '16NM1A0218', '16NM1A0219', '16NM1A0220', '16NM1A0221', '16NM1A0222']

- def addition(x,y):
   - return x+y

In [25]:
 def addition(x,y):
  sum = x+y
  return sum
num1 = 5
num2 = 4
print("the sum is", add numbers(num1,num2))

SyntaxError: invalid syntax (<ipython-input-25-521bca5a7662>, line 6)

In [34]:
def add(x,y):
    return x+y

In [27]:
def sub(x,y):
    return x-y

In [35]:
add(4,5)

9

In [29]:
def power(x,y):
    return(x**y)

In [30]:
power(4,5)

1024

In [37]:
operand=input()
a=int(input())
b=int(input())
if operand=='+':
    c=add(a,b)
    print(c)

+
45
45
90

In [41]:
def factorial(n):
    fact=1
for i in range(1,n+1):
    fact=fact+i
       return fact
n=int(input())
fact=factorial(n)
print(fact)

IndentationError: unexpected indent (<ipython-input-41-2f88f6edc68e>, line 5)

In [5]:
def leapyear(year)
    if((year%400=0) or(year%4==0) and (year%100!=0)):
        print(year,"is leap year")
    else:
        print(year,"is not leap year")
leapyear(int(input()))

SyntaxError: invalid syntax (<ipython-input-5-3281d1e6fdad>, line 1)

In [8]:
number=int(input("enter any number:"))
if number > 1 :
    for i in range(2, number):
        if (number % i)==0:
            print(number,"is not a prime number")
else:
            print(number,"is a prime number")

enter any number:5

In [9]:
n=int(input("enter any number"))
temp=1
for i in range(2,(n//2)+1):
    if n%i==0:
        temp=0
        break
if temp :
    print(n,"is a prime number")
else: 
    print(n,"is not a prime number")

enter any number3
3 is a prime number

In [14]:
def prime(n):
    for i in range(2,(n//2)+1):
        if n%i==0:
            return False
    return True

In [16]:
l1=int(input())
u1=int(input())
for num in range(l1,u1+1):
    if prime(num):
        print(num,end=' ')

20
100
23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [20]:
def prime(n):
    if n==1:
        return False
    for i in range(2,(n//2)+1):
        if n%i==0:
            return False
    return True

In [18]:
l1=int(input())
u1=int(input())
for num in range(l1,u1+1):
    if prime(num):
        print(num,end=' ')

1
100
1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [10]:
def prime(n):
    if n==1:
        return False
    for i in range(2,(n//2)+1):
        if n%i==0:
            return False
    return True

In [11]:
l1=int(input())
u1=int(input())
sum=0
for num in range(l1,u1+1):
    if prime(num):
        sum=sum+num
print(sum)

1
7887
3659186

# dictionaries

In [12]:
di={}
dic=dict()
type(di),type(dic)

(dict, dict)

In [13]:
di['key']='value'

In [14]:
di

{'key': 'value'}

In [15]:
di[624789225670]='abcdefghijkl'
di

{'key': 'value', 624789225670: 'abcdefghijkl'}

In [16]:
di['key']='value1'

In [17]:
di

{'key': 'value1', 624789225670: 'abcdefghijkl'}

In [18]:
di['16NM1A0263']=['NAME','Email','Moblie']
di

{'key': 'value1',
 624789225670: 'abcdefghijkl',
 '16NM1A0263': ['NAME', 'Email', 'Moblie']}

In [19]:
di['16NM1A0263']

['NAME', 'Email', 'Moblie']

In [20]:
di['16NM1A0263'][1]='NAME1'
di['16NM1A0263']

['NAME', 'NAME1', 'Moblie']

In [22]:
di.keys()

dict_keys(['key', 624789225670, '16NM1A0263'])

In [23]:
di.values()

dict_values(['value1', 'abcdefghijkl', ['NAME', 'NAME1', 'Moblie']])

In [24]:
di.items()

dict_items([('key', 'value1'), (624789225670, 'abcdefghijkl'), ('16NM1A0263', ['NAME', 'NAME1', 'Moblie'])])

In [27]:
di.pop('key')

'value1'

In [31]:
di['16NM1A0263']

['NAME', 'NAME1', 'Moblie']

In [33]:
di.setdefault('16NM1A00')
di

{624789225670: 'abcdefghijkl',
 '16NM1A0263': ['NAME', 'NAME1', 'Moblie'],
 '16NM1A00': None}

write a program to store num as key and square of the num as value
{1:1,2:4,3:9}

In [34]:
sq1={}
sq1

{}

In [37]:
sq1={}
sq1[2]=4

In [38]:
sq1

{2: 4}

In [46]:
sq={}
n=int(input())
for i in range(1,n+1):
    sq[i]=i**2
sq

3

{1: 1, 2: 4, 3: 9}

In [15]:
Contact={}

In [16]:
def Add_Contact(Name,Moblie,Email):
    Contact[Name]=[Moblie,Email]
    return print(Name,"Add sucessfully")

In [18]:
Add_Contact('navya','9912807377','python@programming.com')

navya Add sucessfully

In [28]:
Contact['navya'][0]

'9912807377'

In [ ]:
'9912768090'
'3498748412'

In [25]:
def Moblie_validation(Moblie):
    if Mobile[0] in ['7','8','9','6']:
        return

In [33]:
def Add_Contact(Name,Mobile,Email):
    if Mobile_validation(Mobile):
        Contacts[Name]=[Mobile,Email]
        return print(Name,"Add sucessfully")
    else:
        return print("enter correct Mobile number")

In [29]:
def print_number(name):
    number=Contact['navya'][0]
    return number

In [30]:
print('1. print phone numbers')
print('2. add a phone number')
print('3. modify phone number')
print('4. delete phone number')
print('5. show all contacts')
print('6. done')
ch=int(input("enter your choice"))
if ch==1:
    name=input('enter name')
    print(print_number(name))
elif ch==2:
    name=input('enter name')

1. print phone numbers
2. add a phone number
3. modify phone number
4. delete phone number
5. show all contacts
6. done
enter your choice1
enter namenavya
9912807377

In [1]:
b = 25/'25'
print(b)

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [2]:
b = int('ab25')
print(b)

ValueError: invalid literal for int() with base 10: 'ab25'

 * dictionary

In [ ]:
d1 = {}

In [3]:
create a dictionary key equal square of the key as values
{1:1,2:4,3:9,9:14.....10:100}

SyntaxError: invalid syntax (<ipython-input-3-bb9817b06740>, line 1)

In [7]:
squares = {}
for key in range(1,11): 
    squares[key] = key ** 2
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [12]:
odd = {}
even = {}
for key in range(1,11):
    if key % 2 == 0:
        even[key] = key ** 2
    else:
        odd[key] = key ** 2
        print(even,odd)

{} {1: 1}
{2: 4} {1: 1, 3: 9}
{2: 4, 4: 16} {1: 1, 3: 9, 5: 25}
{2: 4, 4: 16, 6: 36} {1: 1, 3: 9, 5: 25, 7: 49}
{2: 4, 4: 16, 6: 36, 8: 64} {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [11]:
squares = {}
for key in range(1,11):
    if i%2 == 0:
          squares[key] = key ** 2 
        even.(key)
    else:
        odd.(key)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

# functions
set of instructions

 # required arguments

In [16]:
def addition(a,b):
    c = a + b
    return c

In [20]:
addition(2,3)

5

In [21]:
addition(2,3,5)

TypeError: addition() takes 2 positional arguments but 3 were given

# keyword arguments

In [22]:
def addition(a,b=5):
    return a+b

In [23]:
addition(2,10)

12

## variable length aruguments

In [26]:
def add(a,*b):
    for elements in b:
        a += elements
    return a

In [27]:
add(1,2,3,4,5,6,7,8,9,10)

55

## anynomous function

In [28]:
function_name=lambda arg1:logic,group_of_elements

NameError: name 'group_of_elements' is not defined

In [29]:
add = lambda a,b:a+b

In [30]:
add(1,2)

3

implement a function to check the given year is leap year or not

def leap(year):
    return true or false

In [34]:
def leap(year):
    if year % 4 == 0 or year % 400 == 0 and year % 100 != 0:
        return True
    return False

In [35]:
leap(2000)

True

# LEAP year b/w 2000 and 2050

In [37]:
sy = int(input())
ey = int(input())
for year in range(sy,ey+1): 
    if leap(year):
        print(year,end = '  ')

2000
2050
2000  2004  2008  2012  2016  2020  2024  2028  2032  2036  2040  2044  2048

## files

In [38]:
def prime(number):
    if number == 1:
        return False
    for i in range(2,number//2):
        print(i)
        if number % i == 0:
            return False
    return True

In [39]:
prime(25)

2
3
4
5

False

## files
1.open the desired file
2.logic implementation
3.close the opened file
9.open(filename,mode)
 
 mode:
. read
. write
 . append

In [41]:
fh = open('navya(263)','r')
data = fh.read()
print(data)
fh.close()

line1
line2
line3

# to insert(write)

In [44]:
fh = open('writefile.txt','w')
data = 'python programming'
fh.write(data)
fh.close()

# wirite a program to write 1 to 100 numbers in file
number.txt

In [6]:
fh = open('numbers.txt','w')
for num in range(1,101):
    fh.write(str(num))
    fh.write('\n')
fh.close()

In [5]:
fh = open('navya(263).txt','r')
data = fh.readlines()
for line in data:
    print('*',end = ' ')
    print(line)
fh.close()

* l

* i

* n

* e

* 1

# write a program to print even numbers from the line

In [50]:
fh = open('numbers.txt','r')
for line in fh.readline():
    print(line)
fh.close

1
/
n
2
/
n
3
/
n
4
/
n
5
/
n
6
/
n
7
/
n
8
/
n
9
/
n
1
0
/
n
1
1
/
n
1
2
/
n
1
3
/
n
1
4
/
n
1
5
/
n
1
6
/
n
1
7
/
n
1
8
/
n
1
9
/
n
2
0
/
n
2
1
/
n
2
2
/
n
2
3
/
n
2
4
/
n
2
5
/
n
2
6
/
n
2
7
/
n
2
8
/
n
2
9
/
n
3
0
/
n
3
1
/
n
3
2
/
n
3
3
/
n
3
4
/
n
3
5
/
n
3
6
/
n
3
7
/
n
3
8
/
n
3
9
/
n
4
0
/
n
4
1
/
n
4
2
/
n
4
3
/
n
4
4
/
n
4
5
/
n
4
6
/
n
4
7
/
n
4
8
/
n
4
9
/
n
5
0
/
n
5
1
/
n
5
2
/
n
5
3
/
n
5
4
/
n
5
5
/
n
5
6
/
n
5
7
/
n
5
8
/
n
5
9
/
n
6
0
/
n
6
1
/
n
6
2
/
n
6
3
/
n
6
4
/
n
6
5
/
n
6
6
/
n
6
7
/
n
6
8
/
n
6
9
/
n
7
0
/
n
7
1
/
n
7
2
/
n
7
3
/
n
7
4
/
n
7
5
/
n
7
6
/
n
7
7
/
n
7
8
/
n
7
9
/
n
8
0
/
n
8
1
/
n
8
2
/
n
8
3
/
n
8
4
/
n
8
5
/
n
8
6
/
n
8
7
/
n
8
8
/
n
8
9
/
n
9
0
/
n
9
1
/
n
9
2
/
n
9
3
/
n
9
4
/
n
9
5
/
n
9
6
/
n
9
7
/
n
9
8
/
n
9
9
/
n
1
0
0
/
n

In [19]:
fh = open('numbers.txt','r')
data = fh.readline().split(' ')
print(data)
for num in data:
    if num.isdigit():
        e = int(num)
        if e % 2 == 0:
            print(e,end = ' ')
fh.close()

['1\n']

In [21]:
fh = open('numbers.txt','r') 
fw = open('even.txt','w')
print(data)
data = fh.readline().split('\n ')
for item in data:
    if item.isdigit():
        if int (item) % 2 == 0:
            fw.write(item)
            fw.write(' ')
fh.close()
fw.close()

['1\n']

In [1]:
fi = open('data.txt','a')
for i in range (3):
    li = []
    roll = input('Enter roll number: ')
    name = input('Enter your name: ')
    country = input('Enter your country: ')
    mobile = input('Enter your contact number: ')
    li.append(roll)
    li.append(name)
    li.append(country)
    li.append(mobile)
    fi.writelines(li)
fi.close()

Enter roll number: 263
Enter your name: navya
Enter your country: india
Enter your contact number: 8878564261
Enter roll number: 264
Enter your name: subha
Enter your country: india
Enter your contact number: 8167268871
Enter roll number: 258
Enter your name: deepthi
Enter your country: india
Enter your contact number: 7877479294

In [2]:
fi = open('data.txt','r')
print(fi.read())
fi.close()

rollNo name country moblieNumber 263navyaindia8878564261264subhaindia8167268871258deepthiindia7877479294

In [4]:
fi = open('data.txt','a')
for i in range(2):
    roll = input('enter roll number: ')
    name = input('enter your name: ')
    country = input('enter your country: ')
    mobile = input('enter your contact number:  ')
    data = roll + ' ' + name + " " + country + ' ' + mobile + '\n'
    fi.write(data)
fi.close()

enter roll number: 263
enter your name: navya
enter your country: india
enter your contact number:  827325822
enter roll number: 142
enter your name: nsqwjs
enter your country: india
enter your contact number:  8738984461

In [8]:
fh = open('data.txt','r')
data = fh.readlines()
print(data)
for line in data:
    m = line.split()
    print(m[2])
fh.close()

['rollNo name country moblieNumber\n', 'navya india 827325822\n', '142 nsqwjs india 8738984461\n']
country
827325822
india

In [ ]:
fh = open('marks.txt','r')
head = fh.readlines()
data = fh.readline()
for i in data:
    per = 0; status = 'p'; grade = 0
    marks = line.split( )[2:]
    for marks in marks:
        if int(mark) < 35:
            status = 'f'
            per += int(mark)
    per = (per*100)/ 400
    if per>=65:
        Grade='A'
    elif per<65 and per>60:
        Grade='B'
    elif per<60 and per>50:
        Grade='C'
    else:
        Grade='D'
    final=line[:-1]+""+status+''+Grade+''+str(per)+'\n'
    
    fh.close()

## packages and modules

In [1]:
import math

In [2]:
math.sqrt(4)

2.0

In [3]:
math.pi

3.141592653589793

In [5]:
from math import sqrt
sqrt(4)

2.0

In [14]:
import math as m
m.sqrt(4)

2.0

In [8]:
m.cos(45)

0.5253219888177297

In [9]:
1/(2**0.5)

0.7071067811865475

In [10]:
m.cos(m.radians(45))

0.7071067811865476

In [16]:
m.ceil(1.3376)

2

In [12]:
m.floor(9.97776)

9

In [13]:
m.factorial(5)

120

In [15]:
m.pow(55,2)

3025.0

In [16]:
m.log(1)

0.0

In [18]:
from math import *

In [19]:
sqrt(2)

1.4142135623730951

In [1]:
import mymodule

In [2]:
mymodule.add(2,3)

5

In [3]:
mymodule.pi

3.14

In [5]:
import re

## re.function_name(pattern,string)

In [6]:
name = 'python'
print(re.search('py',name))

<re.Match object; span=(0, 2), match='py'>

In [7]:
name = 'python'
print(re.search('pyo',name))

None

In [9]:
s = 'python programming by apssdc'
re.findall('m',s)

['m', 'm']

In [12]:
st = 'dfstruujmDKMLMtdku'
m = re.findall('[a-zA-Z]',st)
print(m)

['d', 'f', 's', 't', 'r', 'u', 'u', 'j', 'm', 'D', 'K', 'M', 'L', 'M', 't', 'd', 'k', 'u']

# filter()

In [3]:
m3 = list(filter(lambda x : x % 2 == 0 and x % 3 == 0 and x !=0,sq))
print(m3)

NameError: name 'sq' is not defined

# list comprehension

In [4]:
m = []
for i in range(1,101):
    m.append(i)
print(m)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [5]:
mi = [i for i in range(1,100)]
print(mi)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [6]:
mi = [i for i in range(1,101) if i % 2 ==0]
print(mi)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [7]:
mi = [i ** 2 for i in range(1,101) if i % 2 ==0]
print(mi)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

In [12]:
mi = [i ** 2 for i in range(1,101) if  i % 4 ==0]
print(mi)

[16, 64, 144, 256, 400, 576, 784, 1024, 1296, 1600, 1936, 2304, 2704, 3136, 3600, 4096, 4624, 5184, 5776, 6400, 7056, 7744, 8464, 9216, 10000]

In [14]:
s= 'pythonprogramming'
vowels = [i for i in s if i in 'aeiou']
vowels = [i for i in s if i in['a','e','i','o','u']]
vowels

['o', 'o', 'a', 'i']

# dictionary comprehensions

# {1:1,2:4,3:9,4:16,.....10:100}

In [15]:
{i:i ** 2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [27]:
s = 'python'
mydict = {s: s for s in [1,2,3,4,5,6]}
print (mydict)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}

In [28]:
s = 'python'
freq = {i:s.count(i) for i in s}
print(freq)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [30]:
s = 'pythonprogramming'
vowels = {i for i in s if i in 'aeiou' }
vowels

{'a', 'i', 'o'}

In [31]:
words = ['car','house','plant','fisherman']
{'car': 3,'house':5,'plant':5,'fisherman':9}

{'car': 3, 'house': 5, 'plant': 5, 'fisherman': 9}

In [34]:
{i:{j:i.count(j) for j in i if j in 'aeiou'} for i in words}

{'car': {'a': 1},
 'house': {'o': 1, 'u': 1, 'e': 1},
 'plant': {'a': 1},
 'fisherman': {'i': 1, 'e': 1, 'a': 1}}

# pandas

In [67]:
import pandas as pd

In [2]:
s1 = pd.Series([1,2,3,4])
s1

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
type(s1)

pandas.core.series.Series

In [4]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
s1.index = ['a','b','c','d']

In [6]:
s1

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
s2 = pd.Series(['python','Numpy','pandas'],index=['s1','s2','s3'])
s2

s1    python
s2     Numpy
s3    pandas
dtype: object

In [12]:
s2.values

array(['python', 'Numpy', 'pandas'], dtype=object)

In [14]:
s2[2] = 'Pandas'
s2

s1    python
s2     Numpy
s3    Pandas
dtype: object

In [15]:
s2[0:2] = ['python','numpy']
s2

s1    python
s2     numpy
s3    Pandas
dtype: object

In [16]:
s1 ** 2

a     1
b     4
c     9
d    16
dtype: int64

In [17]:
s1

a    1
b    2
c    3
d    4
dtype: int64

In [18]:
s1[[1,3]]

b    2
d    4
dtype: int64

In [19]:
s1[['b','d']]

b    2
d    4
dtype: int64

In [20]:
s1[[0,1,3]]

a    1
b    2
d    4
dtype: int64

## pandas dataframe

In [23]:
d1 = pd.DataFrame(s1)
d1

   0
a  1
b  2
c  3
d  4

In [24]:
type(d1)

pandas.core.frame.DataFrame

In [25]:
d1.columns

RangeIndex(start=0, stop=1, step=1)

In [26]:
d1.columns = ['Numbers']
d1

   Numbers
a        1
b        2
c        3
d        4

In [27]:
d1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [30]:
d1.index = ['Num1','Num2','Num3','Num4']
d1

      Numbers
Num1        1
Num2        2
Num3        3
Num4        4

In [31]:
type(d1.values)

numpy.ndarray

In [32]:
d1['Numbers']

Num1    1
Num2    2
Num3    3
Num4    4
Name: Numbers, dtype: int64

In [34]:
d1['sq of Numbers'] = d1['Numbers'] ** 2
d1

      Numbers  sq of Nembers  sq of Numbers
Num1        1              1              1
Num2        2              4              4
Num3        3              9              9
Num4        4             16             16

In [35]:
d1['Cubes of Numbers'] = d1['Numbers'] ** 3
d1

      Numbers  sq of Nembers  sq of Numbers  Cubes of Numbers
Num1        1              1              1                 1
Num2        2              4              4                 8
Num3        3              9              9                27
Num4        4             16             16                64

In [43]:
d1 = d1.drop('Numbers',axis = 1)

In [44]:
d1

      sq of Nembers  sq of Numbers  Cubes of Numbers
Num1              1              1                 1
Num2              4              4                 8
Num3              9              9                27
Num4             16             16                64

d1.drop('sq of Nembers',axis = 1,inplace=True)
d1

In [49]:
d1.columns

Index(['Cubes of Numbers'], dtype='object')

In [64]:
studentNums = ['16NM1A0'+str(i) for i in range(1,51)]
print(studentNums)
python = [np.random.randint(1,100) for i in range(1,51)]
print(python)
Numpy = [np.random.randint(1,100) for i in range(1,51)]
pandas = [np.random.randint(1,100) for i in range(1,51)]

['16NM1A01', '16NM1A02', '16NM1A03', '16NM1A04', '16NM1A05', '16NM1A06', '16NM1A07', '16NM1A08', '16NM1A09', '16NM1A010', '16NM1A011', '16NM1A012', '16NM1A013', '16NM1A014', '16NM1A015', '16NM1A016', '16NM1A017', '16NM1A018', '16NM1A019', '16NM1A020', '16NM1A021', '16NM1A022', '16NM1A023', '16NM1A024', '16NM1A025', '16NM1A026', '16NM1A027', '16NM1A028', '16NM1A029', '16NM1A030', '16NM1A031', '16NM1A032', '16NM1A033', '16NM1A034', '16NM1A035', '16NM1A036', '16NM1A037', '16NM1A038', '16NM1A039', '16NM1A040', '16NM1A041', '16NM1A042', '16NM1A043', '16NM1A044', '16NM1A045', '16NM1A046', '16NM1A047', '16NM1A048', '16NM1A049', '16NM1A050']
[32, 96, 18, 14, 71, 45, 94, 57, 98, 18, 94, 95, 17, 61, 72, 11, 58, 75, 92, 19, 13, 52, 74, 25, 74, 16, 67, 39, 36, 84, 60, 30, 36, 84, 13, 38, 42, 8, 92, 70, 98, 10, 58, 10, 46, 6, 35, 45, 6, 10]

In [68]:
marks = {'python':python,'pandas':pandas,'Numpy':Numpy}

marks_df = pd.DataFrame(marks,index = studentNums)

marks_df

           python  pandas  Numpy
16NM1A01       32      44     14
16NM1A02       96       2      8
16NM1A03       18      40     62
16NM1A04       14      67     88
16NM1A05       71      69     67
16NM1A06       45      50     22
16NM1A07       94      95     71
16NM1A08       57      53     28
16NM1A09       98      89     13
16NM1A010      18      72     66
16NM1A011      94      87     48
16NM1A012      95      30     58
16NM1A013      17      10     97
16NM1A014      61      44     14
16NM1A015      72      94     88
16NM1A016      11      43     44
16NM1A017      58      94     65
16NM1A018      75      40     49
16NM1A019      92      36     73
16NM1A020      19      79     83
16NM1A021      13      73     31
16NM1A022      52      75     96
16NM1A023      74      20     45
16NM1A024      25      74     82
16NM1A025      74      51     90
16NM1A026      16      52     31
16NM1A027      67      97     82
16NM1A028      39      60     16
16NM1A029      36      96      1
16NM1A030      84      12     94
16NM1A031      60      82     30
16NM1A032      30      37     53
16NM1A033      36      46     77
16NM1A034      84      19     93
16NM1A035      13      16     99
16NM1A036      38      40     38
16NM1A037      42      18     15
16NM1A038       8      40     20
16NM1A039      92      76     93
16NM1A040      70      90     44
16NM1A041      98      96     10
16NM1A042      10      17     30
16NM1A043      58      50     48
16NM1A044      10      64     24
16NM1A045      46      67     62
16NM1A046       6      88      5
16NM1A047      35      46     40
16NM1A048      45      15     67
16NM1A049       6      59     22
16NM1A050      10       7     42

In [69]:
marks_df.head()

          python  pandas  Numpy
16NM1A01      32      44     14
16NM1A02      96       2      8
16NM1A03      18      40     62
16NM1A04      14      67     88
16NM1A05      71      69     67

In [70]:
marks_df.tail(1)

           python  pandas  Numpy
16NM1A050      10       7     42

In [71]:
marks_df['python'].head()

16NM1A01    32
16NM1A02    96
16NM1A03    18
16NM1A04    14
16NM1A05    71
Name: python, dtype: int64

In [73]:
marks_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 16NM1A01 to 16NM1A050
Data columns (total 3 columns):
python    50 non-null int64
pandas    50 non-null int64
Numpy     50 non-null int64
dtypes: int64(3)
memory usage: 1.6+ KB

In [72]:
marks_df['pandas'].head()

16NM1A01    44
16NM1A02     2
16NM1A03    40
16NM1A04    67
16NM1A05    69
Name: pandas, dtype: int64

In [74]:
marks_df.shape

(50, 3)

In [75]:
marks_df.isnull()

           python  pandas  Numpy
16NM1A01    False   False  False
16NM1A02    False   False  False
16NM1A03    False   False  False
16NM1A04    False   False  False
16NM1A05    False   False  False
16NM1A06    False   False  False
16NM1A07    False   False  False
16NM1A08    False   False  False
16NM1A09    False   False  False
16NM1A010   False   False  False
16NM1A011   False   False  False
16NM1A012   False   False  False
16NM1A013   False   False  False
16NM1A014   False   False  False
16NM1A015   False   False  False
16NM1A016   False   False  False
16NM1A017   False   False  False
16NM1A018   False   False  False
16NM1A019   False   False  False
16NM1A020   False   False  False
16NM1A021   False   False  False
16NM1A022   False   False  False
16NM1A023   False   False  False
16NM1A024   False   False  False
16NM1A025   False   False  False
16NM1A026   False   False  False
16NM1A027   False   False  False
16NM1A028   False   False  False
16NM1A029   False   False  False
16NM1A030   False   False  False
16NM1A031   False   False  False
16NM1A032   False   False  False
16NM1A033   False   False  False
16NM1A034   False   False  False
16NM1A035   False   False  False
16NM1A036   False   False  False
16NM1A037   False   False  False
16NM1A038   False   False  False
16NM1A039   False   False  False
16NM1A040   False   False  False
16NM1A041   False   False  False
16NM1A042   False   False  False
16NM1A043   False   False  False
16NM1A044   False   False  False
16NM1A045   False   False  False
16NM1A046   False   False  False
16NM1A047   False   False  False
16NM1A048   False   False  False
16NM1A049   False   False  False
16NM1A050   False   False  False

In [76]:
marks_df.isnull().sum()

python    0
pandas    0
Numpy     0
dtype: int64

In [77]:
marks_df.max()

python    98
pandas    97
Numpy     99
dtype: int64

In [78]:
marks_df['python'].max()

98

In [79]:
marks_df['python'].idxmax()

'16NM1A09'

In [80]:
marks_df['python'].min()

6

In [81]:
marks_df['python'].mean()

48.28

In [82]:
marks_df['Total Marks'] = marks_df['python'] + marks_df['pandas'] + marks_df['Numpy']
marks_df['percentage'] = (marks_df['Total Marks'] * 100) / 300
marks_df.head()

          python  pandas  Numpy  Total Marks  percentage
16NM1A01      32      44     14           90   30.000000
16NM1A02      96       2      8          106   35.333333
16NM1A03      18      40     62          120   40.000000
16NM1A04      14      67     88          169   56.333333
16NM1A05      71      69     67          207   69.000000

In [83]:
marks_df.sort_values(by='python').head()

           python  pandas  Numpy  Total Marks  percentage
16NM1A046       6      88      5           99   33.000000
16NM1A049       6      59     22           87   29.000000
16NM1A038       8      40     20           68   22.666667
16NM1A050      10       7     42           59   19.666667
16NM1A044      10      64     24           98   32.666667

In [84]:
marks_df.sort_values(by='python',ascending=False).head()

           python  pandas  Numpy  Total Marks  percentage
16NM1A041      98      96     10          204   68.000000
16NM1A09       98      89     13          200   66.666667
16NM1A02       96       2      8          106   35.333333
16NM1A012      95      30     58          183   61.000000
16NM1A011      94      87     48          229   76.333333

In [85]:
marks_df.iloc[0]

python         32.0
pandas         44.0
Numpy          14.0
Total Marks    90.0
percentage     30.0
Name: 16NM1A01, dtype: float64

In [87]:
marks_df.loc['16NM1A047']

python          35.000000
pandas          46.000000
Numpy           40.000000
Total Marks    121.000000
percentage      40.333333
Name: 16NM1A047, dtype: float64

In [88]:
marks_df.loc[['16NM1A045','16NM1A046']]

           python  pandas  Numpy  Total Marks  percentage
16NM1A045      46      67     62          175   58.333333
16NM1A046       6      88      5           99   33.000000

In [89]:
marks_df['python'] [marks_df['python'] > 40]

16NM1A02     96
16NM1A05     71
16NM1A06     45
16NM1A07     94
16NM1A08     57
16NM1A09     98
16NM1A011    94
16NM1A012    95
16NM1A014    61
16NM1A015    72
16NM1A017    58
16NM1A018    75
16NM1A019    92
16NM1A022    52
16NM1A023    74
16NM1A025    74
16NM1A027    67
16NM1A030    84
16NM1A031    60
16NM1A034    84
16NM1A037    42
16NM1A039    92
16NM1A040    70
16NM1A041    98
16NM1A043    58
16NM1A045    46
16NM1A048    45
Name: python, dtype: int64

In [90]:
len(marks_df['python'][marks_df['python'] >=40])

27

In [92]:
marks_df[np.logical_and(np.logical_and((marks_df['python'] >= 40),(marks_df['pandas'] >= 40)),marks_df['Numpy'] >= 40)].head()

           python  pandas  Numpy  Total Marks  percentage
16NM1A05       71      69     67          207   69.000000
16NM1A07       94      95     71          260   86.666667
16NM1A011      94      87     48          229   76.333333
16NM1A015      72      94     88          254   84.666667
16NM1A017      58      94     65          217   72.333333

# modules and packages

In [1]:
import math

In [2]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

## moduleName.funcName

In [3]:
math.sqrt(4)

2.0

In [4]:
math.pow(2,5)

32.0

In [6]:
rad = math.radians(45)
rad

0.7853981633974483

In [7]:
math.cos(rad)

0.7071067811865476

In [8]:
1/(2 ** 0.5)

0.7071067811865475

In [9]:
math.ceil(8.9)

9

In [10]:
math.floor(8.9)

8

In [11]:
math.factorial(5)

120

## import moduleName as alaisName

In [12]:
import math as m

In [13]:
m.pow(5,2)

25.0

In [15]:
from math import sqrt

In [16]:
sqrt(4)

2.0

In [17]:
from math import sqrt,pow

In [18]:
pow(5,2)

25.0

In [19]:
from math import *

In [20]:
ceil(8.9)

9

In [30]:
import myNavya

# Numpy

In [31]:
import numpy as np

In [32]:
n1 = np.array([1,2,3,4,5])
n1

array([1, 2, 3, 4, 5])

In [33]:
n2 = np.array([1,2,3,4,5.0])
n2

array([1., 2., 3., 4., 5.])

In [34]:
type(n1)

numpy.ndarray

In [35]:
n1.dtype

dtype('int32')

In [36]:
n2.dtype

dtype('float64')

In [38]:
n1.ndim

1

In [40]:
d2 = np.array([[1,2],[3,4]])
d2

array([[1, 2],
       [3, 4]])

In [41]:
d2.ndim

2

In [42]:
n3 = np.arange(50)
n3

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [44]:
n4 = np.arange(1,51,2)
n4

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
       35, 37, 39, 41, 43, 45, 47, 49])

In [45]:
n4.shape

(25,)

In [59]:
n4 = n4.reshape(5,5)

In [60]:
n4

array([[ 1,  3,  5,  7,  9],
       [11, 13, 15, 17, 19],
       [21, 23, 25, 27, 29],
       [31, 33, 35, 37, 39],
       [41, 43, 45, 47, 49]])

In [61]:
n4[0]

array([1, 3, 5, 7, 9])

In [62]:
n4[0:2]

array([[ 1,  3,  5,  7,  9],
       [11, 13, 15, 17, 19]])

In [63]:
n4[:2,:2]

array([[ 1,  3],
       [11, 13]])

# mathematical operations